@page "/"
@using VocabularyTrainer.Application.Interfaces
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<p>Hallo, @Username!</p>

@code {
    [Inject] private ICurrentUserService currentUserService { get; set; } = null!;

    private string? Username = "";

    protected override async Task OnInitializedAsync()
    {
        Username = await currentUserService.GetUserNamerAsync();
    }
}